//- JQUERY
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  $('.container').click(function(){
    $(this).toggleClass("active");
  });

  $('.container-9').click(function() {
    if ($(this).hasClass('active')) {
      $(this).addClass('stage-1');

      setTimeout(function() {
        $('.container-9').addClass('stage-2');
      }, 300);
    } else {
      $(this).removeClass('stage-2');

      setTimeout(function() {
        $('.container-9').removeClass('stage-1');
      }, 300);
    }
  });


//- MASONRY
script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
script.
  $('.grid').masonry({
    // options
    itemSelector: '.grid-item',
    gutter: 20
  });


//- TABSLET
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tabslet.js/1.7.3/jquery.tabslet.min.js')
script.
  $('.tabs').tabslet();