.city-content
  h2 Cheap Eats
  .grid
    .grid-item: +item-card("Duck Pancake Sandwich & Dumplings", "Vanessa's Dumplings", "http://vanessas.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/13643689_1669154820073631_257861071_n.jpg?ig_cache_key=MTMyMTkxODQ2MTM3OTQyODk3Mg%3D%3D.2", "kimmayco", "Dumplings", "Chinese", "Cheap Eat")
    .grid-item: +item-card("Artichoke Slice", "Artichoke Basille's Pizza", "http://www.artichokepizza.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/14676491_1875794545986401_1565395221523464192_n.jpg?ig_cache_key=MTM3NTU4NjM3NzA1MjExMjY5Nw%3D%3D.2", "natalie_1107", "Pizza", "Cheap Eat")
    .grid-item: +item-card("Cheese Slice", "Joe's Pizza", "http://joespizzanyc.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15535080_241612149606327_7020266101355315200_n.jpg?ig_cache_key=MTQwOTU4MDU2Mzk4MzgwOTk5OA%3D%3D.2", "eatmeoutfoodie", "Pizza", "Cheap Eat")
    .grid-item: +item-card("Roast Pork Bun", "Golden Steamer", "https://www.yelp.com/biz/golden-steamer-new-york", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15035772_1818264651787193_8205970494332076032_n.jpg?ig_cache_key=MTM4NDM0MjU5OTkxNzkzNDYzOA%3D%3D.2", "lifeisbao", "Dumplings", "Chinese", "Cheap Eat")
    .grid-item: +item-card("Pumpkin Bun", "Golden Steamer", "https://www.yelp.com/biz/golden-steamer-new-york", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/14473984_101452773658815_2522359629229326336_n.jpg?ig_cache_key=MTM1Njg2Njg4OTI2MzMyNDIzOA%3D%3D.2", "kittynoms", "Dumplings", "Chinese", "Cheap Eat")
    .grid-item: +item-card("Carne Asada Taco", "Los Tacos No. 1", "http://www.lostacos1.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15625105_1803589286566827_4018956453992726528_n.jpg?ig_cache_key=MTQxMTE4OTYzNjAxNzM3MDYxOQ%3D%3D.2", "tacocreative", "Tacos", "Cheap Eat")

  hr

  h2 Sweet Treats
  .grid
    .grid-item: +item-card("Crème Brûlée Doughnut", "Doughnut Plant", "http://doughnutplant.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/14574277_624322174409329_3228352068284579840_n.jpg?ig_cache_key=MTM1MjQ4MjM3NTQwNjE4NTI3MA%3D%3D.2", "s.eat.tle", "Doughnuts", "Dessert", "Cheap Eat")
    .grid-item: +item-card("Hibiscus Doughnut", "Dough", "http://www.doughdoughnuts.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15337157_964821706952226_6720006621319135232_n.jpg?ig_cache_key=MTM5NzIzOTc0NjA1MzEyMjY3MQ%3D%3D.2", "allibarrera", "Doughnuts", "Dessert", "Cheap Eat")
    .grid-item: +item-card("Banana Pudding", "Magnolia Bakery", "https://www.magnoliabakery.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15534666_126550507841545_2993324207942664192_n.jpg?ig_cache_key=MTQxMzE2ODE0Njg3Nzk3ODcyNQ%3D%3D.2", "sweetsandsunsets", "Dessert", "Cheap Eat")
    .grid-item: +item-card("Everything Doughnut", "The Doughnut Project", "http://www.thedoughnutproject.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/15624323_1764160527239445_4440994942818451456_n.jpg?ig_cache_key=MTQxMTY3ODc2NDcyNzE5OTA0Ng%3D%3D.2", "onehungryjew", "Doughnuts", "Dessert", "Cheap Eat")
    .grid-item: +item-card("Cronut", "Dominique Ansel Bakery", "http://dominiqueansel.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/14712134_691057251052521_8392859089910104064_n.jpg?ig_cache_key=MTM2ODU2MjEwNDA2MDA2NDg3MA%3D%3D.2", "cronutgirl", "Doughnuts", "Dessert", "Cheap Eat")
    .grid-item: +item-card("Red Velvet Cheesecake", "Magnolia Bakery", "https://www.magnoliabakery.com/", "https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/14590926_1714181438904994_3429636612554752000_n.jpg?ig_cache_key=MTM1NTEzNzg5MzM3MTA4NzMwMg%3D%3D.2", "magnoliabakery", "Cheesecake", "Dessert", "Cheap Eat")