extends ../../layout
include ../../partials/item-card

block append vars
  - bodyclass = 'city-view'

block content
  .city-title(style="background-image: url('../../img/new-york.jpg');")
    a.link-underline(href="/") ← Go back
    h1 New York

  .tabs.tabs_default
    ul
      li: a(href="#tab-new-york-eat") Eat
      li: a(href="#tab-new-york-see") See
      li: a(href="#tab-new-york-do") Do

    #tab-new-york-eat: include eat
    #tab-new-york-see: include see
    #tab-new-york-do: include do